<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">

      The form contains <%= pluralize(object.errors.count, "error") %>
    </div> <!-- pluralize takes an integer and returns the number with a properly pluralized version of its second argument -->
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
   </ul>
 </div>
<% end %>
